{% extends "backend.html" %}
{% load simple_tags %}
{% load filters %}

{% block content %}

    {% h1 page_title %}
    {% button_new "Novi stroj" "admin-printer-form" %}

    <table class="grid">
        {% if rows %}
            <tr>
                {% th "Id" "pk" "3" %}
                {% th "Naziv" "name" "10" "left" %}
                {% th "Color" "color" "5" "left" %}
                {% th "Širina otiska" "printing_area_width" "7" "left" %}
                {% th "Visina otiska" "printing_area_height" "7" "left" %}
                {% th "Max širina papira" "max_paper_width" "7" "left" %}
                {% th "Max visina papira" "max_paper_height" "7" "left" %}
                {% th "Širina klika" "click_width" "5" "left" %}
                {% th "Korisnički popust" "user_discount" "7" "left" %}
                {% th "Rola" "role" "5" "left" %}
                {% th "Tisak" "press" "10" "left" %}
                {% th "Vrsta izračuna cijene" "printing_price_type" "10" "left" %}
                {% th "Operacije" None "10" %}
            </tr>
            {% for row in rows %}
                {% url "admin-printer-details" row.pk as details_url %}
                {% url "admin-printer-form" as copy_url %}
                {% url "admin-printer-form" row.pk as edit_url %}
                {% url "admin-printer-delete" row.pk as delete_url %}
                <tr>
                    {% td row.pk "pk" %}
                    {% td "<a href="|add:edit_url|add:">"|add:row.name|add:"</a>" "name" "left" %}
                    {% td row.color "color" "left" %}
                    {% td row.printing_area_width "printing_area_width" "left" %}
                    {% td row.printing_area_height "printing_area_height" "left" %}
                    {% td row.max_paper_width "max_paper_width" "left" %}
                    {% td row.max_paper_height "max_paper_height" "left" %}
                    {% td row.click_width "click_width" "left" %}
                    {% td row.user_discount "user_discount" "left" %}
                    {% td row.role "role" "left" %}
                    {% td row.press.all|join_list:", " "press" "left" %}
                    {% td row.printing_price_type "printing_price_type" "left" %}
                    {% with row_pk_string=row.pk|convert_to_string:"0" %}
                    {% with copy="<a href='"|add:copy_url|add:"?printer_id="|add:row_pk_string|add:"' class='copy'></a>" %}
                    {% with view="<a href='"|add:details_url|add:"' class='view'></a>" %}
                    {% with edit="<a href='"|add:edit_url|add:"' class='edit'></a>" %}
                    {% with delete="<a href='"|add:delete_url|add:"' class='delete'></a>" %}
                        {% td copy|add:view|add:edit|add:delete %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                {% td "Nema zapisa" %}
            </tr>
        {% endif %}
    </table>
    {% pager rows %}

{% endblock %}