#dialog-form {
    * { color: inherit; }

    form {
        padding: 20px;

        fieldset {

            > div {
                margin: 10px 0;

                label {
                    display: inline-block;
                    width: 200px;
                }

                input[type=text] {
                    width: 40px;
                    padding: 2px;
                    border: 1px solid #d3d3d3;
                }

                .error {
                    display: block;
                    color: red;
                }

                input[type=checkbox] { margin: 6px 0; }
            }
        }
    }
}