.product-view {
    .page-header {
        height: 44px;
        @include vertical-gradient(#ee9a44, #e67233);

        > div {
            height: 44px;
            float: left;
            background: #f48739;
            color: #ffffff;
            font-size: 14px;
            font-weight: bold;
            position: relative;

            h2,
            > a.drop-down-menu {
                float: left;
                display: block;
                color: white;
                height: 44px;
            }

            h2 {
                font-size: 14px;
                width: 190px;
                padding: 12px;
            }

            > a.drop-down-menu {
                background: #ffffff url("../images/product-view-choice-arrow.png") no-repeat center center;
                width: 44px;
            }

            div {
                display: none;
                background: url("../images/product-view-up-arrow.png") no-repeat 229px top;
                padding-top: 8px;
                position: absolute;
                top: 50px;
                width: 258px;

                ul {
                    @include box-shadow(16px, #999);
                    padding: 3px 0;
                    background: white;
                    list-style-type: none;

                    li {
                        a {
                            padding: 3px 28px 3px 10px;
                            border-bottom: 1px solid #f4f4f4;
                            display: block;
                            font-size: 12px;
                            color: #919191;

                            &:hover {
                                background-color: #6b9db6;
                                color: white;
                            }
                        }
                    }
                }

                li:last-child {
                    a {
                        border-bottom: 0;
                    }
                }
            }
        }

        h1 {
            color: white;
            padding: 12px;
            font-size: 14px;
            float: left;
        }
    }

    section {
        > div {
            text-align: center;
            float: left;
            padding-top: 20px;
            width: 258px;

            img {
                max-width: 238px;
            }

            p {
                text-align: left;
                color: #6695ad;
                padding: 4px 10px;
                font-size: 13px;
                font-weight: bold;
            }
        }

        > form {
            margin-top: 16px;
            width: 462px;
            float: left;

            h2 {
                @include vertical-gradient(#ee9a44, #e67233);
                color: #ffffff;
                height: 20px;
                padding: 4px 0 2px 0;
                font-size: 12px;
                text-align: center;
            }

            fieldset {
                padding: 0 10px 10px 10px;
                background: #ffffff;

                > div {
                    background: #f2f2f2;
                    padding: 10px 0;
                    margin-top: 10px;

                    > div {
                        padding: 10px;

                        &#id_cover_finish_div {
                            padding: 0;

                            > div {
                                padding: 10px;
                                width: 100%;
                            }
                        }

                        label,
                        div {
                            display: inline-block;
                            vertical-align: middle;
                        }

                        label {
                            text-align: right;
                            width: 116px;
                        }

                        div {
                            padding-left: 10px;
                            width: 290px;

                            input[type=number],
                            input[type=text],
                            select {
                                background: #ffffff;
                                width: 250px;
                                padding: 4px;
                                margin-right: 6px;
                            }

                            select {
                                width: 258px;
                            }

                            &.checkbox-select {
                                select {
                                    width: 200px;
                                }

                                input[type=checkbox] {
                                    margin-right: 30px;
                                    margin-left: 3px;
                                }
                            }
                        }

                        .errorlist {
                            margin-top: 4px;
                            margin-left: 132px;
                            list-style: none;

                            li {
                                color: red;
                            }
                        }
                    }

                    p.label,
                    p.value {
                        display: inline-block;
                        width: 186px;
                        font-size: 15px;
                        font-weight: bold;
                        margin: 0 16px;
                    }

                    p.label {
                        color: #f48739;
                    }

                    p.value {
                        color: #6695ad;
                        text-align: right;
                    }
                }
            }

            .submit-button-holder {
                display: block;
                text-align: center;
                margin: 0 auto;
                background: url("../images/product-view-cart-arrow.png") no-repeat center top;
                padding-top: 22px;

                input[type=submit] {
                    @include vertical-gradient-with-image("../images/product-view-cart-icon.png", no-repeat, 20px, 10px, #ee9a44, #e67232);
                    padding: 14px 26px 14px 50px;
                    margin: 10px auto;
                    color: #ffffff;
                    font-weight: bold;
                    cursor: pointer;

                    &:hover {
                        background: #6b9db6 url("../images/product-view-cart-icon.png") no-repeat 20px 10px;
                    }
                }
            }
        }
    }
}
