$font: 'Open Sans', sans-serif;
$font-size: 12px;
$primary-color: #333;
$background-color: #f2f2f2;
$header-top-color: #3f3d3d;
$light-green-color: #649eb7;
$grey-color: #919191;
$orange-color: #e67f36;