{% extends "frontend.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

    <div id="register-page">
        <h1>{%  trans "Prijava" %}</h1>
        <p class="notification">{% trans "Pažnja, ukoliko ne posjedujete korisnički račun kod nas, proslijedite na " %}<a href="{% url "user-register" %}">{% trans "REGISTRACIJA" %}</a>.</p>
        <form action="{% url "user-login" %}" method="POST">
            {% csrf_token %}
            <p class="required-fields">{% trans "* Obavezna polja" %}</p>
            <h2>{% trans "Osobni podaci" %}</h2>
            <div>
                <label for="{{ form.username.auto_id }}">{{ form.username.label }}</label>
                <div>{{ form.username }}{% if form.username.field.required %}<span class="required">*</span>{% endif %}</div>
                {{ form.username.errors }}
            </div>

            <div>
                <label for="{{ form.password.auto_id }}">{{ form.password.label }}</label>
                <div>{{ form.password }}{% if form.username.field.required %}<span class="required">*</span>{% endif %}</div>
                {{ form.password.errors }}
            </div>

            <div>
                <label for="{{ form.remember_me.auto_id }}">{{ form.remember_me.label }}</label>
                <div>{{ form.remember_me }}{% if form.remember_me.field.required %}<span class="required">*</span>{% endif %}</div>
                {{ form.remember_me.errors }}
            </div>

            <div class="gradient"></div>
            <input type="submit" value="{% trans "PRIJAVI SE" %}">
        </form>
    </div>

{% endblock %}