{% extends "frontend.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

    <div id="register-page">
        <h1>{%  trans "Reset lozinke" %}</h1>
        {% if not error %}
            {% if validation_error %}
                <p class="notification">{% trans "POZOR, kod za reset lozinke nije valjan. Zatražite novi na " %}<a href="{% url "user-forgotten-password" %}">{% trans "ZABORAVLJENA LOZINKA" %}</a>.</p>
            {% else %}
                <p class="notification">{% trans "Pažnja, ukoliko ne posjedujete korisnički račun kod nas, proslijedite na " %}<a href="{% url "user-register" %}">{% trans "REGISTRACIJA" %}</a>.</p>
            {% endif %}
            <form action="{% url "user-reset-password" pk reset_password_code %}" method="POST">
                {% csrf_token %}
                <p class="required-fields">{% trans "* Obavezna polja" %}</p>
                <h2>{% trans "Osobni podaci" %}</h2>
                <div>
                    <label for="{{ form.password.auto_id }}">{{ form.password.label }}</label>
                    <div>{{ form.password }}{% if form.password.field.required %}<span class="required">*</span>{% endif %}</div>
                    {{ form.password.errors }}
                </div>

                <div>
                    <label for="{{ form.password_confirm.auto_id }}">{{ form.password_confirm.label }}</label>
                    <div>{{ form.password_confirm }}{% if form.password_confirm.field.required %}<span class="required">*</span>{% endif %}</div>
                    {{ form.password_confirm.errors }}
                </div>

                <div class="gradient"></div>
                <input type="submit" value="{% trans "RESETIRAJ LOZINKU" %}">
            {% else %}
                <p class="notification">{% trans "Došlo je do greške" %}.</p>

            {% endif %}
        </form>
    </div>

{% endblock %}