
    /*Document   : css3*/
    /*Created on : 13.05.2012., 19:35:51*/
    /*Author     : Domagoj Kovač*/


ul.menu,
.button,
.pager .pages a { border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; }


ul.menu li a { text-shadow: 1px 1px 0px #fff; }

.form-grid th,
.grid th,
.pager .pages a,
.button,
ul.menu li a { background-image: linear-gradient(top, #f8f8f8 0%, #e4e4e4 100%); background-image: -o-linear-gradient(top, #f8f8f8 0%, #e4e4e4 100%); background-image: -moz-linear-gradient(top, #f8f8f8 0%, #e4e4e4 100%); background-image: -webkit-linear-gradient(top, #f8f8f8 0%, #e4e4e4 100%); background-image: -ms-linear-gradient(top, #f8f8f8 0%, #e4e4e4 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e4e4e4'); }

ul.menu li a.submenu-horizontal,
ul.menu li a.submenu-vertical { padding: 10px 36px 10px 20px; background-image: url("../images/sprite.png"), linear-gradient(top, #f8f8f8 0%, #e4e4e4 100%); background-image: url("../images/sprite.png"), -o-linear-gradient(top, #f8f8f8 0%, #e4e4e4 100%); background-image: url("../images/sprite.png"), -moz-linear-gradient(top, #f8f8f8 0%, #e4e4e4 100%); background-image: url("../images/sprite.png"), -webkit-linear-gradient(top, #f8f8f8 0%, #e4e4e4 100%); background-image: url("../images/sprite.png"), -ms-linear-gradient(top, #f8f8f8 0%, #e4e4e4 100%); background-repeat: no-repeat repeat-x; }
ul.menu li:hover a.submenu-horizontal,
ul.menu li a.submenu-horizontal:hover,
ul.menu li:hover a.submenu-vertical,
ul.menu li a.submenu-vertical:hover { background-image: url("../images/sprite.png"), linear-gradient(top, #e4e4e4 0%, #f8f8f8 100%); background-image: url("../images/sprite.png"), -o-linear-gradient(top, #e4e4e4 0%, #f8f8f8 100%); background-image: url("../images/sprite.png"), -moz-linear-gradient(top, #e4e4e4 0%, #f8f8f8 100%); background-image: url("../images/sprite.png"), -webkit-linear-gradient(top, #e4e4e4 0%, #f8f8f8 100%); background-image: url("../images/sprite.png"), -ms-linear-gradient(top, #e4e4e4 0%, #f8f8f8 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4', endColorstr='#f8f8f8'); background-repeat: no-repeat repeat-x; }
ul.menu li a.submenu-horizontal { background-position: right -900px, 0 0; }
ul.menu li a.submenu-vertical { padding: 5px 36px 5px 20px; background-position: right -977px, 0 0; }
ul.menu li:hover a.submenu-horizontal,
ul.menu li a.submenu-horizontal:hover { background-position:  right -936px, 0 0; }
ul.menu li:hover a.submenu-vertical,
ul.menu li a.submenu-vertical:hover { background-position: right -1013px, 0 0; }

.pager .pages a:hover,
.button:hover,
ul.menu li a:hover { background-image: linear-gradient(top, #e4e4e4 0%, #f8f8f8 100%); background-image: -o-linear-gradient(top, #e4e4e4 0%, #f8f8f8 100%); background-image: -moz-linear-gradient(top, #e4e4e4 0%, #f8f8f8 100%); background-image: -webkit-linear-gradient(top, #e4e4e4 0%, #f8f8f8 100%); background-image: -ms-linear-gradient(top, #e4e4e4 0%, #f8f8f8 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4', endColorstr='#f8f8f8'); }

.pager .pages a,
.pager .pages a:hover,
.button,
.button:hover { text-shadow: 1px 1px 0px #fff; -moz-box-shadow: inset 0px 0px 0px 2px #fff; -webkit-box-shadow: inset 0px 0px 0px 2px #fff; box-shadow: inset 0px 0px 0px 2px #fff; }
.pager .pages a.current { -moz-box-shadow: inset 0px 0px 0px 0px #fff; -webkit-box-shadow: inset 0px 0px 0px 0px #fff; box-shadow: inset 0px 0px 0px 0px #fff; background: transparent; }


.grid th a.desc { background-image: linear-gradient(top, #f0f2ff 0%, #dfe1ee 100%); background-image: -o-linear-gradient(top, #f0f2ff 0%, #dfe1ee 100%); background-image: -moz-linear-gradient(top, #f0f2ff 0%, #dfe1ee 100%); background-image: -webkit-linear-gradient(top, #f0f2ff 0%, #dfe1ee 100%); background-image: -ms-linear-gradient(top, #f0f2ff 0%, #dfe1ee 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f2ff', endColorstr='#dfe1ee'); background-repeat: repeat-x; }
.grid th a.asc { background-image: linear-gradient(top, #dfe1ee 0%, #f0f2ff 100%); background-image: -o-linear-gradient(top, #dfe1ee 0%, #f0f2ff 100%); background-image: -moz-linear-gradient(top, #dfe1ee 0%, #f0f2ff 100%); background-image: -webkit-linear-gradient(top, #dfe1ee 0%, #f0f2ff 100%); background-image: -ms-linear-gradient(top, #dfe1ee 0%, #f0f2ff 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfe1ee', endColorstr='#f0f2ff'); background-repeat: repeat-x; }



.button.settings,
.button.delete,
.button.search,
.button.save,
.button.save-as,
.button.logoff,
.button.back,
.button.print,
.button.print_preview,
.button.xls,
.button.csv,
.button.pdf,
.button.edit,
.button.refresh,
.button.start,
.button.stop,
.button.new { text-shadow: 1px 1px 0px #fff; -moz-box-shadow: inset 0px 0px 0px 2px #fff; -webkit-box-shadow: inset 0px 0px 0px 2px #fff; box-shadow: inset 0px 0px 0px 2px #fff; background-image: url("../images/sprite.png"), linear-gradient(top, #f8f8f8 0%, #e4e4e4 100%); background-image: url("../images/sprite.png"), -o-linear-gradient(top, #f8f8f8 0%, #e4e4e4 100%); background-image: url("../images/sprite.png"), -moz-linear-gradient(top, #f8f8f8 0%, #e4e4e4 100%); background-image: url("../images/sprite.png"), -webkit-linear-gradient(top, #f8f8f8 0%, #e4e4e4 100%); background-image: url("../images/sprite.png"), -ms-linear-gradient(top, #f8f8f8 0%, #e4e4e4 100%); background-repeat: no-repeat repeat-x; }

.button.settings:hover,
.button.delete:hover,
.button.search:hover,
.button.save:hover,
.button.save-as:hover,
.button.logoff:hover,
.button.back:hover,
.button.print:hover,
.button.print_preview:hover,
.button.xls:hover,
.button.csv:hover,
.button.pdf:hover,
.button.edit:hover,
.button.refresh:hover,
.button.start:hover,
.button.stop:hover,
.button.new:hover { background-image: url("../images/sprite.png"), linear-gradient(top, #e4e4e4 0%, #f8f8f8 100%); background-image: url("../images/sprite.png"), -o-linear-gradient(top, #e4e4e4 0%, #f8f8f8 100%); background-image: url("../images/sprite.png"), -moz-linear-gradient(top, #e4e4e4 0%, #f8f8f8 100%); background-image: url("../images/sprite.png"), -webkit-linear-gradient(top, #e4e4e4 0%, #f8f8f8 100%); background-image: url("../images/sprite.png"), -ms-linear-gradient(top, #e4e4e4 0%, #f8f8f8 100%); background-repeat: no-repeat repeat-x; -moz-box-shadow: 0px 0px 2px #000, inset 0px 0px 0px 2px #fff; -webkit-box-shadow: 0px 0px 2px lightgray, inset 0px 0px 0px 2px #fff; box-shadow: 0px 0px 10px lightgray, inset 0px 0px 0px 2px #fff; }

.button.disabled:hover { background-image: url("../images/sprite.png"), linear-gradient(top, #e4e4e4 0%, #f8f8f8 100%); background-image: url("../images/sprite.png"), -o-linear-gradient(top, #e4e4e4 0%, #f8f8f8 100%); background-image: url("../images/sprite.png"), -moz-linear-gradient(top, #e4e4e4 0%, #f8f8f8 100%); background-image: url("../images/sprite.png"), -webkit-linear-gradient(top, #e4e4e4 0%, #f8f8f8 100%); background-image: url("../images/sprite.png"), -ms-linear-gradient(top, #e4e4e4 0%, #f8f8f8 100%); background-repeat: no-repeat repeat-x; -moz-box-shadow: 0px 0px 0px #000, inset 0px 0px 0px 2px #fff; -webkit-box-shadow: 0px 0px 0px lightgray, inset 0px 0px 0px 2px #fff; box-shadow: 0px 0px 0px lightgray, inset 0px 0px 0px 2px #fff; }

.button.settings { background-position: 0px -36px, 0 0; }
.button.logoff { background-position: 0px -72px, 0 0; }
.button.back { background-position: 0px -108px, 0 0; }
.button.refresh { background-position: 0px -144px, 0 0; }
.button.edit { background-position: 0px -396px, 0 0; }
.button.new { background-position: 0px -180px, 0 0; }
.button.print { background-position: 0px -216px, 0 0; }
.button.print_preview { background-position: 0px -216px, 0 0; }
.button.search { background-position: 0px -252px, 0 0; }
.button.save { background-position: 0px -828px, 0 0; }
.button.save-as { background-position: 0px -864px, 0 0; }
.button.delete { background-position: 0px -288px, 0 0; }
.button.xls { background-position: 0px -504px, 0 0; }
.button.csv { background-position: 0px -1224px, 0 0; }
.button.pdf { background-position: 0px -540px, 0 0; }
.button.start { background-position: 0px -1298px, 0 0; }
.button.stop { background-position: 0px -1334px, 0 0; }

#map-canvas,
form fieldset,
.grid { -moz-box-shadow: 0px 0px 2px #000; -webkit-box-shadow: 0px 0px 2px lightgray; box-shadow: 0px 0px 10px lightgray; }

.validation-summary-errors,
.form { border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; box-shadow: 0px 0px 5px gray; -moz-box-shadow: 0px 0px 5px gray; -webkit-box-shadow: 0px 0px 5px gray; background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e5e5e5)); background: -moz-linear-gradient(top,  #f6f6f6, #e5e5e5); }
.form h2, form fieldset legend { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; box-shadow: 0px 0px 5px gray; -moz-box-shadow: 0px 0px 5px gray; -webkit-box-shadow: 0px 0px 5px gray; background: -webkit-gradient(linear, left top, left bottom, from(#3e3e3e), to(#181818)); background: -moz-linear-gradient(top,  #3e3e3e, #646464, #3d3d3d, #3c3c3c, #3b3b3b, #3a3a3a, #393939, #383838, #373737, #363636, #353535, #343434, #333333, #323232, #313131, #303030, #2e2e2e, #2d2d2d, #2c2c2c, #2b2b2b, #2a2a2a, #181818); }