/*
    Document   : screen
    Created on : 05.04.2013., 09:38:23
    Author     : Domagoj Kovač
*/



/* RESET
----------------------------------*/
body, html, ul, ol, fieldset, label, div, input, h1, h2, h3, h4, h5, h6, p, pre { margin: 0; padding: 0; }
* { font-family: "Arial", serif; font-size: 12px; color: rgb(100,100,114); }




/* LAYOUT IMPORTANT
----------------------------------*/
html,
body { height: 100%; }

#wrap { min-height: 100%; background: url(../images/pattern.png) left top repeat-y; }
#wrap.no-background { background: None; }
#content { overflow: auto; padding: 35px 35px 90px 35px; }
footer { position: relative; text-align: right; padding: 10px; height: 20px; margin: -41px 30px 0 290px; border-top: 1px dotted rgb(100,100,114); }

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10 { display: inline-block; float: left; box-sizing: border-box; }

.grid-1 { width: 10%; }
.grid-2 { width: 20%; }
.grid-3 { width: 30%; }
.grid-4 { width: 40%; }
.grid-5 { width: 50%; }
.grid-6 { width: 60%; }
.grid-7 { width: 70%; }
.grid-8 { width: 80%; }
.grid-9 { width: 90%; }
.grid-10 { width: 100%; }


.lightbox { display: none; position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; background: rgba(0, 0, 0, 0.7); }
.lightbox > div {  position: absolute; margin-top: -167px; margin-left: -215px; left: 50%; top: 50%; width: 360px; background: white; border: 5px solid black; padding: 30px; }
.lightbox > div h3 { font-size: 24px; }
.lightbox > div p { font-size: 18px; margin-top: 12px; }
.lightbox > div img { position: absolute; right: 30px; top: 30px; }

.report-lightbox { display: none; position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; background: rgba(0, 0, 0, 0.7); }
.report-lightbox > div {  position: absolute; margin-top: -167px; margin-left: -215px; left: 50%; top: 50%; width: 360px; background: white; border: 5px solid black; padding: 30px; }
.report-lightbox > div h3 { font-size: 24px; }
.report-lightbox > div p { font-size: 18px; margin-top: 12px; }
.report-lightbox > div img { position: absolute; right: 30px; top: 30px; }



/* HEADER
----------------------------------*/
header { border-bottom: 1px solid #E4E4E4; height: 114px; }
header > div { background: black; border-bottom: 2px solid white; height: 112px; background-color: #F3F3F3; background-image:-moz-linear-gradient(50% 0% ,rgb(243,243,243) 0%,rgb(228,228,228) 100%); background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(243,243,243)),color-stop(1, rgb(228,228,228))); background-image:-webkit-linear-gradient(rgb(243,243,243) 0%,rgb(228,228,228) 100%); background-image:-o-linear-gradient(rgb(243,243,243) 0%,rgb(228,228,228) 100%); background-image:-ms-linear-gradient(rgb(243,243,243) 0%,rgb(228,228,228) 100%); background-image:linear-gradient(rgb(243,243,243) 0%,rgb(228,228,228) 100%); -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff3f3f3,endColorstr=#ffe4e4e4,GradientType=0)"; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff3f3f3,endColorstr=#ffe4e4e4,GradientType=0); }

header nav { padding: 30px; }

header #logo { display: inline-block; height: 36px; width: 36px; vertical-align: middle; float: left; margin-top: 32px; margin-left: 30px; margin-right: 20px; margin-bottom: 10px; background-image: url("../images/sprite.png"); background-position: 0px 0px; }


ul.menu { padding: 2px; display: inline-block; float: left; vertical-align: middle; width: auto; border: 1px solid #cccccc; background-color: white; }
ul.menu li { display: block; float: left; position: relative; }
ul.menu li a { display: block; padding: 10px 15px; font-weight: bold; font-size: 14px; }
ul.menu li a.hover,
ul.menu li a:hover { background: #eaeaea; }
ul.menu li a.submenu-horizontal,
ul.menu li a.submenu-vertical { padding: 10px 36px 10px 20px; background-repeat: no-repeat; background-image: url("../images/sprite.png"); }
ul.menu li a.submenu-horizontal { background-position: right -900px; }
ul.menu li:hover a.submenu-horizontal,
ul.menu li a.submenu-horizontal:hover { background-position: right -936px; }
ul.menu li a.submenu-vertical { padding: 5px 36px 5px 20px; background-position: right -977px; }
ul.menu li:hover a.submenu-vertical,
ul.menu li a.submenu-vertical:hover { background-position: right -1013px; }
ul.menu li ul { display: none; position: absolute; top: 35px; left: 0px; z-index: 100; padding: 2px; width: 210px; border: 1px solid #cccccc; background-color: white; }
ul.menu li:hover > ul { display: block; }
ul.menu li ul li ul { display: none; position: absolute; top: 0px; left: 180px; }
ul.menu li ul li { display: block; float: none; }
ul.menu li ul li a { padding: 5px 20px; }
ul.menu li.submenu-vertical ul { top: 0px; right: 0px; width: 260px; }

ul#home { margin-right: 20px; }
ul#home li a { display: block; width: 14px; height: 15px; background-image: url(../images/home-icon.png); background-repeat: no-repeat; background-position: center center; }

header #user-panel { text-align: right; position: absolute; padding-left: 42px; right: 40px; top: 30px; font-size: 14px; line-height: 120%; color: rgb(134,134,149); background: url(../images/user-panel-icon.png) no-repeat left 5px; }
header #user-panel b,
header #user-panel a { color: rgb(134,134,149); display: inline-block; font-size: 14px; margin-top: 6px; font-weight: bold; }
header #user-panel a:hover { border-bottom: 1px dotted rgb(134,134,149); }



/* ASIDE
----------------------------------*/
#container > aside { width: 260px; float: left; padding-top: 15px; }
#container > aside > div { margin: 25px; }
#container > aside > div h2 { margin-bottom: 20px; }
#container > aside > div h2 a { font-size: 16px; display: block; height: 19px; color:rgb(133,133,148); padding-left: 30px; font-weight: normal; background: url(../images/aside-div-h2-icon.png) no-repeat; }
#container > aside > div h2.open a { background-position: 0 -19px; }

#class-picker ul li { list-style-type: none; line-height: 24px; margin-top: 6px; padding-left: 24px; background: url(../images/document.png) no-repeat left 3px; }
#class-picker ul li a:hover { border-bottom: 1px dotted rgb(100,100,114); }

#entry-search input[type="text"] { padding: 10px; border: 1px solid #E5E5E5; width: 142px; vertical-align: middle; }
#entry-location ul { border-left: 1px dotted #80807F; }
#entry-location ul li { list-style-type: none; background: url(../images/folder-struncture-icon.png) no-repeat left center; padding-left: 40px; line-height: 23px; position: relative; top: 11px; }
#entry-location ul li a:hover { border-bottom: 1px dotted rgb(100,100,114); }



/* ARTICLE
----------------------------------*/
article#content h1 { font-size: 24px; color: rgb(133,133,148); margin-bottom: 30px; }
article#content h2 { font-size: 20px; color: rgb(133,133,148); margin-bottom: 10px; margin-top: 50px; border-bottom: 1px dotted; padding-bottom: 10px; }
article#content h3 { font-size: 16px; color: rgb(133,133,148); margin-bottom: 16px; margin-top: 20px; }



/* BUTTON
----------------------------------*/
/* general */
input.button { height: 38px; width: auto; }

.button { text-transform: uppercase; display: inline-block; cursor: pointer; width: auto!important; border: 1px solid #cccccc; height: 16px; padding: 10px 16px; background-color: white; vertical-align: middle; }
.button:hover { background: #eaeaea }
.button.icon { padding-right: 0px; width: 0px!important; font-size: 0px; }
.button.disabled { opacity: 0.5; cursor: default; }

/* normal */
.button { padding: 10px 16px; }

.button.settings,
.button.delete,
.button.search,
.button.save,
.button.save-as,
.button.logoff,
.button.back,
.button.print,
.button.print_preview,
.button.xls,
.button.csv,
.button.pdf,
.button.refresh,
.button.edit,
.button.start,
.button.stop,
.button.new { background-image: url("../images/sprite.png"); background-repeat: no-repeat; padding-left: 36px; }

.button.settings { background-position: 0px -36px; }
.button.logoff { background-position: 0px -72px; }
.button.back { background-position: 0px -108px; }
.button.refresh { background-position: 0px -144px; }
.button.edit { background-position: 0px -396px }
.button.new { background-position: 0px -180px; }
.button.print { background-position: 0px -216px; }
.button.print_preview { background-position: 0px -216px; }
.button.search { background-position: 0px -252px; }
.button.save { background-position: 0px -828px; }
.button.save-as { background-position: 0px -864px; }
.button.delete { background-position: 0px -288px; }
.button.xls { background-position: 0px -504px; }
.button.csv { background-position: 0px -1224px; }
.button.pdf { background-position: 0px -540px; }
.button.start { background-position: 0px -1298px; }
.button.stop { background-position: 0px -1334px; }


/* small */
.button.small { padding: 5px 8px; }

.button.small.settings,
.button.small.delete,
.button.small.search,
.button.small.save,
.button.small.save-as,
.button.small.logoff,
.button.small.back,
.button.small.print,
.button.small.print_preview,
.button.small.xls,
.button.small.csv,
.button.small.pdf,
.button.small.refresh,
.button.small.start,
.button.small.stop,
.button.small.new { padding-left: 28px; }

.button.small.settings { background-position: -4px -41px; }
.button.small.logoff { background-position: -4px -77px; }
.button.small.back { background-position: -4px -113px; }
.button.small.refresh { background-position: -4px -149px; }
.button.small.new { background-position: -4px -185px; }
.button.small.print { background-position: -4px -221px; }
.button.small.search { background-position: -4px -257px; }
.button.small.save { background-position: -4px -833px; }
.button.small.save-as { background-position: -4px -869px; }
.button.small.delete { background-position: -4px -293px; }
.button.small.xls { background-position: -4px -509px; }
.button.small.csv { background-position: -4px -1267px; }
.button.small.pdf { background-position: -4px -1303px; }


/* large */
.button.large { padding: 15px 24px; }

.button.large.settings,
.button.large.delete,
.button.large.search,
.button.large.save,
.button.large.save-as,
.button.large.logoff,
.button.large.back,
.button.large.print,
.button.large.print_preview,
.button.large.xls,
.button.large.csv,
.button.large.pdf,
.button.large.refresh,
.button.large.start,
.button.large.stop,
.button.large.new { padding-left: 40px; }

.button.large.settings { background-position: 4px -31px; }
.button.large.logoff { background-position: 4px -67px; }
.button.large.back { background-position: 4px -103px; }
.button.large.refresh { background-position: 4px -139px; }
.button.large.new { background-position: 4px -175px; }
.button.large.print { background-position: 4px -211px; }
.button.large.search { background-position: 4px -247px; }
.button.large.save { background-position: 4px -823px; }
.button.large.save-as { background-position: 4px -859px; }
.button.large.delete { background-position: 4px -283px; }
.button.large.xls { background-position: 4px -499px; }
.button.large.csv { background-position: 4px -1257px; }
.button.large.pdf { background-position: 4px -1293px; }



/* GRID
----------------------------------*/
.grid { width: 100%; border-collapse: collapse; border: 2px solid white; margin-top: 30px; background: #ffffff; }

.grid .left *,
.grid .left { text-align: left; }

.grid .right *,
.grid .right { text-align: right; }


/* th and sorting */
.grid th a,
.grid th span { padding: 6px; text-align: center; font-size: 10px; text-transform: uppercase; }

.grid th { background-color: #fafafa; }

.grid th { border-left: 1px solid white; border-bottom: 1px solid white; }
.grid th a { display: block; position: relative; }

.grid th a.desc b,
.grid th a.asc b { display: block; position: absolute; right: 0px; width: 16px; height: 16px; background-image: url("../images/sprite.png"); background-repeat: no-repeat; display: block; }

.grid th a.desc,
.grid th a.asc { padding-right: 16px; }

.grid th a.desc b { background-position: -12px -1162px; }
.grid th a.asc b { background-position: -12px -1126px; }

/* td */
.grid tr td:nth-child(1) { width: 70px; }
.grid tr td:last-child { width: 120px; }
.grid tr td { padding: 6px; text-align: center; position: relative; }
.grid tr td.sorted { background-color: #f0f2ff!important; }

.grid tr:nth-child(odd) td { background-color: #F9F9F9; }
.grid tr:nth-child(odd) td.sorted { background-color: #dfe1ee!important; }

.grid tr:hover td.sorted,
.grid tr:hover td { background-color: #FFE9D2!important; }

.grid td a { color: rgb(183,137,32); text-shadow: 1px 1px 0px rgb(255,255,255); font-weight: bold; }
.grid td span.highlight { text-shadow: 0px 0px 0px; }
.grid td a:hover { border-bottom: 1px dotted rgb(183,137,32); }

.grid tr.selected td { background: #D8D7FE; }

.grid tr td.deleted-entry,
.grid tr.selected td.deleted-entry { background: #ff7272; color: White; font-size: 18px; text-transform: uppercase; }

.grid tr.selected td.no-records,
.grid tr td.no-records:hover,
.grid tr td.no-records { padding: 20px; font-size: 18px; background: white; }

.grid tr td div.preview { border: 1px solid #d3d3d3; padding: 2px; position: absolute; display: none; top: -10px; right: 6px; z-index: 999; }
.grid tr td div.preview img { width: 200px; float: left; }
.grid tr td:hover div.preview { display: block; }
.grid tr td.operations,
.grid tr th.operations { width: 10%; }
.grid tr td p { overflow: hidden; height: 14px; }
.grid tr.open td p { height: auto; }

/* overrides */
.form .grid { margin-top: 0px; margin-bottom: 20px; }
.grid.total th { padding-left: 10px; }
#related-entities .grid { margin-bottom: 40px; }

/* icons */
.grid .yes,
.grid .no,
.grid .download,
.grid .stats,
.grid .update,
.grid .view,
.grid .edit,
.grid .add-event,
.grid .delete { background-image: url("../images/sprite.png"); text-indent: 200px; vertical-align: middle; overflow: hidden; display: inline-block; margin: 0 3px!important; width: 16px!important; height: 16px!important; border: 0px; padding: 0px!important; }

.grid .yes:hover,
.grid .no:hover,
.grid .stats:hover,
.grid .update:hover,
.grid .view:hover,
.grid .download:hover,
.grid .edit:hover,
.grid .add-event:hover,
.grid .delete:hover { border: 0px!important; }

.grid .yes { background-position: -10px -442px!important; }
.grid .no { background-position: -10px -478px!important; }
.grid .stats { background-position: -10px -334px!important; }
.grid .update { background-position: -10px -154px!important; }
.grid .view { background-position: -10px -370px!important; }
.grid .edit { background-position: -10px -406px!important; }
.grid .add-event { background-position: -10px -1198px!important; }
.grid .delete { background-position: -10px -298px!important; }
.grid .download { background-position: -10px -1270px!important; }



/* PAGER
----------------------------------*/
.pager { padding: 10px; margin-top: 10px; }
.pager .pager-info { float: left; }
.pager .pages { float: right; }
.pager .pages a { display: inline-block; margin: 0 2px; float: left; border: 1px solid #cccccc; padding: 4px 7px; background-color: #fafafa; vertical-align: middle; }
.pager .pages a:hover { background-color: #eaeaea; }
.pager .pages span { display: inline-block; margin: 0 2px; float: left; font-weight: bold; font-size: 14px; padding: 0px 7px; vertical-align: middle; }
.pager .pages a.current { border: 1px solid transparent; background: transparent; font-weight: bold; font-size: 20px; padding: 0px 7px; }
.pager .pages ul { display: inline-block; float: left; }



/* FORM
----------------------------------*/
form fieldset { width: 100%; border-collapse: collapse; border: 1px solid white; margin-top: 30px; background: #ffffff; margin-bottom: 20px; }
form fieldset > div { position: relative; margin: 1px; }
form fieldset div.red { background: red; color: white; }
form fieldset div.green { background: lightgreen; }
form fieldset > div label { position: absolute; top: 0px; left: 0px; width: 250px; display: block; padding: 10px; line-height: 16px; background: #FFE9D2; }
form fieldset > div > div { background: #FCF5ED; margin-left: 272px;  }
form.view fieldset > div > div { padding: 10px; min-height: 16px; background: #F4F4F4; }
form.view fieldset > div label { background: #EBEBEB; }

form fieldset > div > div input[type=email],
form fieldset > div > div input[type=number],
form fieldset > div > div input[type=password],
form fieldset > div > div input[type=text] { border: 0px; width: 97%; background: transparent; height: 36px; padding-left: 1.5%; padding-right: 1.5%; }
form fieldset > div > div input[type=file] { border: 0px; width: 97%; background: transparent; height: 29px; padding-left: 1.5%; padding-right: 1.5%; padding-top: 7px; }
form fieldset > div > div input[type=checkbox] { border: 0px; background: transparent; margin: 11px; height: 14px; width: 14px; }
form fieldset > div > div textarea { border: 0px; width: 97%; background: transparent; padding-left: 1.5%; padding-right: 1.5%; padding-top: 1.5%; padding-bottom: 1.5%; }
form fieldset > div > div textarea:focus { background: white; }
form fieldset > div > div input:focus { background: white; }
form fieldset > div > div select { border: 0px; width: 100%; background: transparent; height: 36px; padding-left: 1.5%; line-height: 36px; }
form fieldset > div > div select option { line-height: 36px;  }
form fieldset > div > div select[multiple="multiple"] { height: auto; padding-top: 10px; padding-bottom: 10px; }
form fieldset > div > div a { color: rgb(183,137,32); text-shadow: 1px 1px 0px rgb(255,255,255); font-weight: bold; }
form fieldset > div > div a:hover { border-bottom: 1px dotted rgb(183,137,32); }
form fieldset > div > div > ul { list-style-type: none; margin-left: 0px!important; padding: 6px 0; }
form fieldset > div > div > ul li ul { list-style-type: none; margin-left: 10px!important; padding: 6px 0; }
form fieldset > div > div > ul label { position: relative; background: transparent; padding: 5px; }
form fieldset > div > div > ul label input[type=checkbox] { margin: 1px 6px; }

form fieldset > div > div > div { position: relative;  }
form fieldset > div > div > div label { position: relative; display: block; width: auto; }
form fieldset > div > div > div ul { list-style-type: none; margin-left: 10px!important; padding: 5px 0; }
form fieldset > div > div > div ul label { padding: 0; background: transparent; }
form fieldset > div > div > div ul label input[type=checkbox] { margin: 6px 6px; }



.files { padding: 10px; }
.files li { margin-left: 20px; padding: 2px 4px; list-style-type: square; }
.files li span { display: inline-block; min-width: 100px; }
.files li a.delete,
.files li a.download { background-image: url("../images/sprite.png"); background-repeat: no-repeat; padding-left: 22px; text-indent: 10000px; width: 0px; display: inline-block; overflow: hidden; }
.files li a.delete { background-position: -6px -298px; }
.files li a.download { background-position: -6px -1271px; }

.errorlist { padding: 4px; color: white; background: url(../images/sprite.png) red no-repeat -3px -619px; padding-left: 27px; }
.errorlist li { list-style-type: none; color: white }

#google-map-holder { float: left; width: 25%; margin-top: 30px; margin-right: 30px; margin-bottom: 20px; }
#google-map-holder input { margin-bottom: 10px; padding: 1.5%; width: 97%; margin-left: -2px; }
#map-canvas { height: 300px; }
.lightbox .close { display: inline; width: auto; margin-left: 166px; float: left; font-size: 14px; margin-top: -188px; padding: 0px; border: 0px; background: transparent; color: white; text-align: right; cursor: pointer; }
.location-link { position: absolute; margin-left: 70%; width: 30%; margin-top: -74px; }
.location-link a { background: #F4F4F4; margin-left: 2px; margin-right: 1px; display: block; padding: 27px; height: 19px; text-align: center; font-size: 16px; }
.location-link a:hover { background: #EBEBEB; }

.dialog_form { padding-top: 10px; }
.dialog_form label { display: inline-block; width: 100px; }
.dialog_form input { padding: 3px; }
.dialog_form div.error { margin-top: 3px; color: red; }

.delete-key { position: absolute; right: -26px; top: 9px; display: block; width: 16px; height: 16px; overflow: hidden; cursor: pointer }
.delete-key { background-image: url("../images/sprite.png"); text-indent: 200px; background-position: -10px -298px!important; }



/* MAP
----------------------------------*/
#map-canvas { border: 2px solid white; margin-top: 20px; background: #ffffff; }
.google-info-window { padding: 20px; }
.google-info-window h1 { font-size: 18px!important; margin-bottom: 10px!important; }
.google-info-window table tr td { padding: 4px 4px 4px 0px; min-width: 170px; }



/* GENERAL
----------------------------------*/
a { text-decoration: none; }
.float-left { float: left; }
.float-right { float: right; }

.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }
.display-none { display: none; }
.display-hidden { visibility: hidden; }
.clear { clear: both; }
.width-40 { width: 40%; }

.padding-0 { padding: 0px!important; }
.padding-5 { padding: 5px; }
.padding-10 { padding: 10px; }
.padding-15 { padding: 15px; }
.padding-20 { padding: 20px; }
.padding-left-5 { padding-left: 5px; }
.padding-left-10 { padding-left: 10px; }
.padding-left-15 { padding-left: 15px; }
.padding-left-20 { padding-left: 20px; }
.padding-right-5 { padding-right: 5px; }
.padding-right-10 { padding-right: 10px; }
.padding-right-15 { padding-right: 15px; }
.padding-right-20 { padding-right: 20px; }
.padding-top-5 { padding-left: 5px; }
.padding-top-10 { padding-left: 10px; }
.padding-top-15 { padding-left: 15px; }
.padding-top-20 { padding-top: 20px; }
.padding-bottom-5 { padding-bottom: 5px; }
.padding-bottom-10 { padding-bottom: 10px; }
.padding-bottom-15 { padding-bottom: 15px; }
.padding-bottom-20 { padding-bottom: 20px; }

.margin-0 { margin: 0px; }
.margin-5 { margin: 5px; }
.margin-10 { margin: 10px; }
.margin-15 { margin: 15px; }
.margin-20 { margin: 20px; }
.margin-left-5 { margin-left: 5px; }
.margin-left-10 { margin-left: 10px; }
.margin-left-15 { margin-left: 15px; }
.margin-left-20 { margin-left: 20px; }
.margin-right-5 { margin-right: 5px; }
.margin-right-10 { margin-right: 10px; }
.margin-right-15 { margin-right: 15px; }
.margin-right-20 { margin-right: 20px; }
.margin-top-5 { margin-left: 5px; }
.margin-top-10 { margin-left: 10px; }
.margin-top-15 { margin-left: 15px; }
.margin-top-20 { margin-top: 20px; }
.margin-bottom-5 { margin-bottom: 5px; }
.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-15 { margin-bottom: 15px; }
.margin-bottom-20 { margin-bottom: 20px; }

.opacity { opacity: 0.5 }
.highlight { background: magenta; color: white; padding: 2px; }

