{% extends "backend.html" %}
{% load simple_tags %}
{% load filters %}

{% block content %}

    {% h1 page_title %}
    {% button_new "Nova cijena printa" "admin-printing-price-form" %}

    <table class="grid">
        {% if rows %}
            <tr>
                {% th "Id" "pk" "3" %}
                {% th "Stroj" "printer" "15" "left" %}
                {% th "Obostrani tisak" "both_sides" "10" "left" %}
                {% th "X" "x" "10" "left" %}
                {% th "Cijena starta" "start_price" "15" "left" %}
                {% th "Cijena starta po arku" "start_price_per_sheet" "15" "left" %}
                {% th "Cijena x-a" "x_price" "10" "left" %}
                {% th "Vrsta izračuna cijene" "printing_price_type" "15" "left" %}
                {% th "Operacije" None "10" %}
            </tr>
            {% for row in rows %}
                {% url "admin-printing-price-details" row.pk as details_url %}
                {% url "admin-printing-price-form" as copy_url %}
                {% url "admin-printing-price-form" row.pk as edit_url %}
                {% url "admin-printing-price-delete" row.pk as delete_url %}
                <tr>
                    {% td row.pk "pk" %}
                    {% td "<a href="|add:edit_url|add:">"|add:row.printer.name|add:"</a>" "printer" "left" %}
                    {% td row.both_sides "both_sides" "left" %}
                    {% td row.x "x" "left" %}
                    {% td row.start_price "start_price" "left" %}
                    {% td row.start_price_per_sheet "start_price_per_sheet" "left" %}
                    {% td row.x_price "x_price" "left" %}
                    {% td row.printing_price_type "printing_price_type" "left" %}
                    {% with row_pk_string=row.pk|convert_to_string:"0" %}
                    {% with copy="<a href='"|add:copy_url|add:"?printing_price_id="|add:row_pk_string|add:"' class='copy'></a>" %}
                    {% with view="<a href='"|add:details_url|add:"' class='view'></a>" %}
                    {% with edit="<a href='"|add:edit_url|add:"' class='edit'></a>" %}
                    {% with delete="<a href='"|add:delete_url|add:"' class='delete'></a>" %}
                        {% td copy|add:view|add:edit|add:delete %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                {% td "Nema zapisa" %}
            </tr>
        {% endif %}
    </table>
    {% pager rows %}

{% endblock %}