{% extends "backend.html" %}
{% load simple_tags %}
{% load filters %}

{% block content %}

    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {% h1 page_title %}
        <div>
            <a href="{% url "admin-product-list" %}" class="button back">Natrag</a>
        </div>
        <div id="product_id" class="display-none">{{ product_id }}</div>

        <div class="grid-5 padding-right-20">
            <h2>Osnovni atributi proizvoda</h2>
            <fieldset>
                {% get_fieldset name,subcategory,image,description as basic_fields from form %}
                {% for field in basic_fields %}
                    <div>
                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                        <div>{{ field }}</div>
                        {{ field.errors }}
                    </div>
                {% endfor %}
            </fieldset>
        </div>
        <div class="grid-5 padding-left-20">
            <h2>Meta atributi</h2>
            <fieldset>
                {% get_fieldset meta_description,meta_keywords as meta_fields from form %}
                {% for field in meta_fields %}
                    <div>
                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                        <div>{{ field }}</div>
                        {{ field.errors }}
                    </div>
                {% endfor %}
            </fieldset>
        </div>
        <div class="clear"></div>


        <div class="grid-5 padding-right-20">

            <h2>Osnovni parametri proizvoda</h2>
            <fieldset id="product-basic-params">
                <div>
                    <label for="{{ form.has_title.auto_id }}">{{ form.has_title.label }}</label>
                    <div>{{ form.has_title }}</div>
                    {{ form.has_title.errors }}
                </div>
                <div>
                    <label for="{{ form.formats.auto_id }}">{{ form.formats.label }}</label>
                    <div>{{ form.formats }}</div>
                    {{ form.formats.errors }}
                </div>
                <div>
                    <label for="{{ form.paper.auto_id }}">{{ form.paper.label }}</label>
                    <div>{{ form.paper }}</div>
                    {{ form.paper.errors }}
                </div>
                <div>
                    <label for="{{ form.press.auto_id }}">{{ form.press.label }}</label>
                    <div>{{ form.press }}</div>
                    {{ form.press.errors }}
                </div>
                <div>
                    <label for="{{ form.has_mutations.auto_id }}">{{ form.has_mutations.label }}</label>
                    <div>{{ form.has_mutations }}</div>
                    {{ form.has_mutations.errors }}
                </div>
                <div>
                    <label for="{{ form.has_cover.auto_id }}">{{ form.has_cover.label }}</label>
                    <div>
                        {{ form.has_cover }}
                        <div class="{% if not form.has_cover.value %}display-none{% endif %}">
                            <label for="{{ form.cover_paper.auto_id }}">{{ form.cover_paper.label }}</label>
                            <div>{{ form.cover_paper }}</div>
                            {{ form.cover_paper.errors }}
                        </div>
                        <div class="{% if not form.has_cover.value %}display-none{% endif %}">
                            <label for="{{ form.cover_plastic.auto_id }}">{{ form.cover_plastic.label }}</label>
                            <div>{{ form.cover_plastic }}</div>
                            {{ form.cover_plastic.errors }}
                        </div>
                    </div>
                    {{ form.has_cover.errors }}
                </div>

                <div>
                    <label for="{{ form.has_insert.auto_id }}">{{ form.has_insert.label }}</label>
                    <div>
                        {{ form.has_insert }}
                        <div class="{% if not form.has_insert.value %}display-none{% endif %}">
                            <label for="{{ form.insert_paper.auto_id }}">{{ form.insert_paper.label }}</label>
                            <div>{{ form.insert_paper }}</div>
                            {{ form.insert_paper.errors }}
                        </div>
                    </div>
                    {{ form.has_insert.errors }}
                 </div>

            </fieldset>
            <fieldset>
                <div>
                    <label for="{{ form.basic_fields_order.auto_id }}">{{ form.basic_fields_order.label }}</label>
                    <div>{{ form.basic_fields_order }}</div>
                    {{ form.basic_fields_order.errors }}
                </div>
            </fieldset>

        </div>


{#        <div class="grid-5 padding-left-20">#}
{##}
{#            <h2>Redoslijed osnovnih parametara proizvoda</h2>#}
{#            <fieldset>#}
{#                <div class="{% if not form.has_title.value %}display-none{% endif %}">#}
{#                    <label for="{{ form.title_order.auto_id }}">{{ form.title_order.label }}</label>#}
{#                    <div>{{ form.title_order }}</div>#}
{#                    {{ form.title_order.errors }}#}
{#                </div>#}
{#                <div>#}
{#                    <label for="{{ form.format_order.auto_id }}">{{ form.format_order.label }}</label>#}
{#                    <div>{{ form.format_order }}</div>#}
{#                    {{ form.format_order.errors }}#}
{#                </div>#}
{#                <div>#}
{#                    <label for="{{ form.paper_order.auto_id }}">{{ form.paper_order.label }}</label>#}
{#                    <div>{{ form.paper_order }}</div>#}
{#                    {{ form.paper_order.errors }}#}
{#                </div>#}
{#                <div>#}
{#                    <label for="{{ form.press_order.auto_id }}">{{ form.press_order.label }}</label>#}
{#                    <div>{{ form.press_order }}</div>#}
{#                    {{ form.press_order.errors }}#}
{#                </div>#}
{#                <div class="{% if not form.has_mutations.value %}display-none{% endif %}">#}
{#                    <label for="{{ form.number_of_mutations_order.auto_id }}">{{ form.number_of_mutations_order.label }}</label>#}
{#                    <div>{{ form.number_of_mutations_order }}</div>#}
{#                    {{ form.number_of_mutations_order.errors }}#}
{#                </div>#}
{#                <div>#}
{#                    <label for="{{ form.number_of_copies_order.auto_id }}">{{ form.number_of_copies_order.label }}</label>#}
{#                    <div>{{ form.number_of_copies_order }}</div>#}
{#                    {{ form.number_of_copies_order.errors }}#}
{#                </div>#}
{#                <div class="{% if not form.has_cover.value %}display-none{% endif %}">#}
{#                    <label for="{{ form.cover_paper_order.auto_id }}">{{ form.cover_paper_order.label }}</label>#}
{#                    <div>{{ form.cover_paper_order }}</div>#}
{#                    {{ form.cover_paper_order.errors }}#}
{#                </div>#}
{#                <div class="{% if not form.has_cover.value %}display-none{% endif %}">#}
{#                    <label for="{{ form.cover_plastic_order.auto_id }}">{{ form.cover_plastic_order.label }}</label>#}
{#                    <div>{{ form.cover_plastic_order }}</div>#}
{#                    {{ form.cover_plastic_order.errors }}#}
{#                </div>#}
{#                <div class="{% if not form.has_insert.value %}display-none{% endif %}">#}
{#                    <label for="{{ form.insert_paper_order.auto_id }}">{{ form.insert_paper_order.label }}</label>#}
{#                    <div>{{ form.insert_paper_order }}</div>#}
{#                    {{ form.insert_paper_order.errors }}#}
{#                </div>#}
{#            </fieldset>#}
{#        </div>#}
{#        <div class="clear"></div>#}


        <div class="grid-5 padding-left-20">
            <h2>Parametri dorade proizvoda</h2>
            <fieldset>
                <div>
                    <label for="{{ form.finish.auto_id }}">{{ form.finish.label }}</label>
                    <div>{{ form.finish }}</div>
                    {{ form.finish.errors }}
                </div>
                <div class="display-none">
                    <label for="{{ form.finish_order.auto_id }}">{{ form.finish_order.label }}</label>
                    <div>{{ form.finish_order }}</div>
                    {{ form.finish_order.errors }}
                </div>
            </fieldset>
        </div>

        <div class="clear"></div>

        <input type="submit" class="button save" name="submit" value="Spremi">

    </form>
{% endblock %}