{% extends "backend.html" %}
{% block content %}
{% load simple_tags %}

    <form class="view">
        {% h1 page_title %}
        <div>
            <a href="{% url "admin-paper-weight-list" %}" class="button back">Natrag</a>
            <a href="{% url "admin-paper-weight-form" row.pk %}" class="button edit float-right">Ažuriraj</a>
        </div>

        <fieldset style="position: relative">
            {% for name, value in row.get_fields %}
                <div>
                    <label>{{ name }}</label>
                    <div>{{ value }}</div>
                </div>
            {% endfor %}
        </fieldset>

    </form>
{% endblock %}