{% extends "backend.html" %}
{% load simple_tags %}
{% load filters %}

{% block content %}

    {% h1 page_title %}
    {% button_new "Novi format" "admin-format-form" %}

    <table class="grid">
        {% if rows %}
            <tr>
                {% th "Id" "pk" "3" %}
                {% th "Širina" "width" "47" "left" %}
                {% th "Visina" "height" "40" "left" %}
                {% th "Operacije" None "10" %}
            </tr>
            {% for row in rows %}
                {% url "admin-format-details" row.pk as details_url %}
                {% url "admin-format-form" row.pk as edit_url %}
                {% url "admin-format-delete" row.pk as delete_url %}
                <tr>
                    {% td row.pk "pk" %}
                    {% with width=row.width|convert_to_string %}
                    {% td "<a href="|add:edit_url|add:">"|add:width|add:"</a>" "width" "left" %}
                    {% endwith %}
                    {% td row.height "height" "left" %}
                    {% with view="<a href='"|add:details_url|add:"' class='view'></a>" %}
                    {% with edit="<a href='"|add:edit_url|add:"' class='edit'></a>" %}
                    {% with delete="<a href='"|add:delete_url|add:"' class='delete'></a>" %}
                        {% td view|add:edit|add:delete %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                {% td "Nema zapisa" %}
            </tr>
        {% endif %}
    </table>
    {% pager rows %}

{% endblock %}