{% extends "backend.html" %}
{% load simple_tags %}
{% load filters %}

{% block content %}

    {% h1 page_title %}
    <a href="{{ form_url }}" class="button new">Novi tip dorade</a>

    <form method="get">{% csrf_token %}
        <fieldset>
            {% for field in search_form %}
                <div>
                    <label for="{{ field.auto_id }}">{{ field.label }}</label>
                    <div>{{ field }}</div>
                    {{ field.errors }}
                </div>
            {% endfor %}
        </fieldset>
        <input type="submit" class="button search" name="submit" value="Pretraži">
    </form>

    <table class="grid">
        {% if rows %}
            <tr>
                {% th "Id" "pk" "3" %}
                {% th "Dorada" "finish" "47" "left" %}
                {% th "Naziv" "name" "20" "left" %}
                {% th "Cijene" "number_of_prices" "20" "left" %}
                {% th "Operacije" None "10" %}
            </tr>
            {% for row in rows %}
                {% url "admin-finish-type-details" row.pk as details_url %}
                {% url "admin-finish-type-form" row.pk as edit_url %}
                {% url "admin-finish-type-delete" row.pk as delete_url %}
                {% url "admin-finish-price-list" as finish_price_list_url %}

                <tr>
                    {% td row.pk "pk" %}
                    {% td "<a href="|add:edit_url|add:">"|add:row.finish.name|add:"</a>" "name" "left" %}
                    {% td row.name "name" "left" %}

                    {% with row_pk_string=row.pk|convert_to_string:"0" %}
                    {% with finish_row_pk_string=row.finish.pk|convert_to_string:"0" %}

                    {% with number_of_prices=row.number_of_prices|convert_to_string:"0" %}
                    {% with prices="<a href='"|add:finish_price_list_url|add:"?finish="|add:finish_row_pk_string|add:"&finish_type="|add:row_pk_string|add:"'>"|add:number_of_prices|add:"</a>" %}
                        {% td prices "number_of_prices" "left" %}
                    {% endwith %}
                    {% endwith %}

                    {% endwith %}
                    {% endwith %}


                    {% with view="<a href='"|add:details_url|add:"' class='view'></a>" %}
                    {% with edit="<a href='"|add:edit_url|add:"' class='edit'></a>" %}
                    {% with delete="<a href='"|add:delete_url|add:"' class='delete'></a>" %}
                        {% td view|add:edit|add:delete %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                {% td "Nema zapisa" %}
            </tr>
        {% endif %}
    </table>
    {% pager rows %}

{% endblock %}