{% extends "frontend.html" %}
{% load i18n %}
{% load staticfiles %}
{% load simple_tags %}

{% block content %}

    <div class="product-view">
        <div class="page-header">
            <div>
                <h2>{{ subcategory.name }}</h2>
                <a href="#" class="drop-down-menu"></a>
                <div class="drop-down-menu">
                    <ul>
                        {% for subcategory_product in subcategory.product_set.all %}
                            <li><a href="{% url "product-view" category.slug subcategory.slug subcategory_product.slug %}">{{ subcategory_product.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <h1>{{ product.name }}</h1>
        </div>

        <section>
            <div>
                <img src="{{ product.image.url }}" alt="{{ product.name }}" />
                <p>{{ product.description }}</p>
            </div>
            <form method="POST" id="product-cart-form">{% csrf_token %}
                <h2>Moj kalkulator</h2>
                <fieldset>
                    {{ form.product }}
                    <div>
                        {% get_fieldset title,format,user_format_width,user_format_height,user_format_add_to_user_formats,press,paper,umber_of_mutation,number_of_copies,cover_paper,cover_plastic,insert_paper as basic_fields from form %}
                        {% for field in basic_fields %}
                            <div>
                                <label for="{{ field.auto_id }}">{{ field.label }}</label>
                                <div>{{ field }}{% if field.field.required %}<span class="required">*</span>{% endif %}</div>
                                {{ field.errors }}
                            </div>
                        {% endfor %}

                        <h2>Dorade</h2>

                    </div>
                    <div class="total">
                        <p class="label">Ukupno + PDV</p>
                        <p class="value" id="product-price">0</p>
                    </div>
                </fieldset>
                <div class="submit-button-holder">
                    <input type="submit" value="DODAJ U KOŠARICU" />
                </div>
            </form>

        </section>

    </div>

{% endblock %}