* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-decoration: none;
  color: #919191; }

.clear {
  clear: both; }

body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #333333;
  background-color: #f2f2f2; }

.container {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px; }

.container .grid_1 {
  width: 60px; }
.container .grid_2 {
  width: 140px; }
.container .grid_3 {
  width: 220px; }
.container .grid_4 {
  width: 300px; }
.container .grid_5 {
  width: 380px; }
.container .grid_6 {
  width: 460px; }
.container .grid_7 {
  width: 540px; }
.container .grid_8 {
  width: 620px; }
.container .grid_9 {
  width: 700px; }
.container .grid_10 {
  width: 780px; }
.container .grid_11 {
  width: 860px; }
.container .grid_12 {
  width: 940px; }

header {
  height: 140px; }
  header #header-top {
    height: 30px;
    padding-top: 8px;
    background-color: #3f3d3d;
    position: relative; }
    header #header-top .my-account,
    header #header-top .login,
    header #header-top .logout {
      display: inline-block;
      font-size: 14px;
      color: #649eb7;
      font-weight: bold;
      height: 20px; }
      header #header-top .my-account:hover,
      header #header-top .login:hover,
      header #header-top .logout:hover {
        color: #f2f2f2; }
    header #header-top .my-account {
      background: url("../images/my-account.png") no-repeat left center;
      padding-left: 20px; }
    header #header-top #login-form {
      display: none;
      -webkit-box-shadow: 0px 0px 50px 0px #666666;
      -moz-box-shadow: 0px 0px 50px 0px #666666;
      box-shadow: 0px 0px 50px 0px #666666;
      position: absolute;
      z-index: 1000;
      background: white;
      top: 40px;
      width: 190px;
      padding: 20px; }
      header #header-top #login-form .content-up-arrow {
        position: absolute;
        left: 16px;
        top: -10px; }
      header #header-top #login-form h4 {
        width: 80px;
        background: url("../images/my-account.png") no-repeat left center;
        padding-left: 20px;
        font-size: 16px;
        color: #666666;
        margin: 0 auto; }
      header #header-top #login-form .shadow {
        margin: 10px auto 5px 0px; }
      header #header-top #login-form form input[type=text],
      header #header-top #login-form form input[type=password] {
        width: 174px;
        padding: 7px;
        border: 1px solid #e4e4e4;
        margin-bottom: 10px; }
      header #header-top #login-form form label,
      header #header-top #login-form form input[type=checkbox] {
        vertical-align: middle;
        font-size: 10px; }
      header #header-top #login-form form .forgot-password {
        margin-top: -14px;
        display: block;
        text-align: right;
        color: #649eb7;
        font-size: 10px;
        margin-bottom: 14px; }
        header #header-top #login-form form .forgot-password:hover {
          text-decoration: underline; }
      header #header-top #login-form form input[type=submit] {
        background: #649eb7;
        width: 190px;
        padding: 7px 0 5px;
        color: white;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center; }
        header #header-top #login-form form input[type=submit]:hover {
          cursor: pointer;
          background: #9fd0e6; }
      header #header-top #login-form form .register {
        text-align: center;
        font-size: 12px;
        color: #525c65;
        line-height: 24px; }
        header #header-top #login-form form .register a {
          background: #9fd0e6;
          color: white;
          padding: 3px 30px; }
          header #header-top #login-form form .register a:hover {
            background: #649eb7; }
    header #header-top nav {
      float: right;
      display: inline-block;
      padding-top: 2px;
      color: white; }
      header #header-top nav a {
        font-size: 12px;
        color: white; }
        header #header-top nav a:hover {
          color: #649eb7; }
  header #header-bottom {
    margin-top: 35px; }
    header #header-bottom #logo {
      margin-top: 6px;
      display: block;
      float: left;
      background: url("../images/web2print.png");
      width: 484px;
      height: 35px; }
    header #header-bottom #search-form {
      margin-left: 35px;
      float: left;
      margin-top: 3px; }
      header #header-bottom #search-form input[type=text] {
        float: left;
        border-top: 4px solid #74afc7;
        padding: 8px;
        width: 196px;
        background: white url("../images/search.png") no-repeat 190px 6px; }
      header #header-bottom #search-form input[type=submit] {
        float: left;
        width: 36px;
        height: 36px;
        background-color: #3f3d3d;
        color: white; }
        header #header-bottom #search-form input[type=submit]:hover {
          cursor: pointer;
          background-color: #649eb7; }
    header #header-bottom #cart {
      margin-top: -4px;
      margin-left: 15px;
      float: left;
      height: 47px;
      padding-left: 60px;
      background: url("../images/cart.png") no-repeat left center;
      line-height: 44px; }
      header #header-bottom #cart a {
        color: #649eb7;
        font-size: 17px; }
        header #header-bottom #cart a:hover {
          color: #3f3d3d; }

aside menu h2 {
  color: white;
  padding: 10px 16px; }
aside menu h2:nth-child(1) {
  background-color: #f48739; }
aside menu h2:nth-child(3) {
  background-color: #8088bc; }
aside menu h2:nth-child(5) {
  background-color: #bfc73d; }
aside menu h2:nth-child(7) {
  background-color: #bd7bc7; }
aside menu nav {
  padding: 10px 0;
  background: white; }
  aside menu nav a {
    text-transform: uppercase;
    display: block;
    padding: 4px 16px;
    color: #919191;
    background: url("../images/main-menu-arrow.png") no-repeat 196px 9px; }
    aside menu nav a:hover {
      background-color: #f2f2f2; }
aside #news-slider {
  margin-top: 10px;
  border-top: 4px solid #74afc8;
  background: white;
  padding-bottom: 7px; }
  aside #news-slider h2 {
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
    color: #635f57; }
aside .scrollable {
  margin: 0 auto;
  z-index: 10;
  position: relative;
  overflow: hidden;
  width: 204px;
  height: 354px; }
  aside .scrollable .items {
    width: 20000em;
    position: absolute; }
    aside .scrollable .items div {
      float: left;
      position: relative; }
      aside .scrollable .items div p {
        color: white;
        font-size: 25px;
        position: absolute;
        top: 100px;
        left: 20px;
        right: 20px;
        text-align: center; }
      aside .scrollable .items div a.read-more {
        display: block;
        left: 40px;
        right: 40px;
        text-align: center;
        background: #74afc8;
        bottom: 20px;
        padding: 10px;
        color: white;
        font-size: 14px;
        text-transform: uppercase;
        position: absolute; }
aside .navi {
  width: 51px;
  height: 17px;
  margin: 10px auto; }
  aside .navi a {
    cursor: pointer;
    width: 11px;
    height: 11px;
    float: left;
    margin: 3px;
    background: url("../images/news-slider-circle.png") 0 0 no-repeat;
    display: block;
    font-size: 1px; }
    aside .navi a:hover {
      background: url("../images/news-slider-active-circle.png") 0 0 no-repeat; }
    aside .navi a.active {
      background: url("../images/news-slider-active-circle.png") 0 0 no-repeat; }

#main-slider {
  position: relative;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 700px;
  height: 240px; }
  #main-slider .browse {
    z-index: 10000;
    display: block;
    position: absolute;
    top: 96px;
    width: 28px;
    height: 48px;
    cursor: pointer; }
  #main-slider .prev {
    background: url("../images/slider-left-arrow.png");
    left: 20px; }
  #main-slider .next {
    background: url("../images/slider-right-arrow.png");
    right: 20px; }
  #main-slider .scrollable {
    z-index: 10;
    position: relative;
    overflow: hidden;
    width: 700px;
    height: 240px; }
    #main-slider .scrollable .items {
      width: 20000em;
      position: absolute; }
      #main-slider .scrollable .items div {
        float: left;
        position: relative; }
        #main-slider .scrollable .items div p {
          text-transform: uppercase;
          position: absolute;
          padding: 1px 20px;
          color: white;
          display: inline-block;
          background: rgba(126, 207, 247, 0.6);
          font-size: 64px;
          left: 70px;
          top: 50px; }
        #main-slider .scrollable .items div h1 {
          position: absolute;
          display: inline-block;
          left: 70px;
          top: 140px; }
          #main-slider .scrollable .items div h1 a {
            text-transform: uppercase;
            padding: 10px 20px;
            background: rgba(100, 158, 183, 0.6);
            font-size: 20px;
            display: block;
            color: white; }
            #main-slider .scrollable .items div h1 a:hover {
              background: #649eb7; }
        #main-slider .scrollable .items div a.read-more {
          font-weight: bold;
          right: 80px;
          bottom: 40px;
          color: white;
          font-size: 14px;
          text-transform: uppercase;
          position: absolute; }
  #main-slider .navi {
    z-index: 10000;
    position: absolute;
    left: 316px;
    bottom: 10px;
    width: 65px;
    height: 13px; }
    #main-slider .navi a {
      cursor: pointer;
      width: 7px;
      height: 7px;
      float: left;
      margin: 3px;
      background: url("../images/slider-circle.png") 0 0 no-repeat;
      display: block;
      font-size: 1px; }
      #main-slider .navi a:hover {
        background: url("../images/slider-active-circle.png") 0 0 no-repeat; }
      #main-slider .navi a.active {
        background: url("../images/slider-active-circle.png") 0 0 no-repeat; }

.quick-links a {
  background: white no-repeat center 10px;
  border-top: 5px solid #74afc7;
  color: #919191;
  display: block;
  padding-top: 60px;
  padding-bottom: 16px;
  text-align: center;
  font-size: 14px; }
.quick-links #order-press {
  background-image: url("../images/question-mark.png"); }
.quick-links #sending-instructions {
  background-image: url("../images/up-arrow.png"); }
.quick-links #featured-products {
  background-image: url("../images/percentage.png"); }

.shadow {
  margin: 20px 10px; }

h1 {
  color: #919191;
  font-size: 24px;
  text-align: center; }

.article {
  background: white;
  padding: 30px; }
  .article h1 {
    margin-bottom: 20px;
    text-align: left; }
  .article h2 {
    color: #919191;
    margin: 20px 0 10px 0;
    font-size: 18px; }
  .article ul, .article ol {
    margin: 10px 0 10px 30px; }
    .article ul ul, .article ul ol, .article ol ul, .article ol ol {
      margin: 0 0 0 30px; }

.breadcrumb {
  color: gray;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px dotted gray; }

.articles {
  margin-top: 20px; }
  .articles div.box-1 h2 {
    background-color: rgba(128, 136, 188, 0.7); }
  .articles div.box-2 h2 {
    background-color: rgba(188, 128, 186, 0.7); }
  .articles div.box-3 h2 {
    background-color: rgba(255, 178, 67, 0.7); }
  .articles div.box-1, .articles div.box-2, .articles div.box-3 {
    background: white;
    position: relative;
    min-height: 320px;
    padding-bottom: 14px; }
    .articles div.box-1 h2, .articles div.box-2 h2, .articles div.box-3 h2 {
      z-index: 9;
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      font-weight: bold;
      text-align: center; }
      .articles div.box-1 h2 a, .articles div.box-2 h2 a, .articles div.box-3 h2 a {
        display: block;
        padding: 10px;
        font-size: 14px;
        color: white; }
    .articles div.box-1 p, .articles div.box-2 p, .articles div.box-3 p {
      font-size: 13px;
      padding: 10px;
      color: #919191; }
    .articles div.box-1 > a, .articles div.box-2 > a, .articles div.box-3 > a {
      font-weight: bold;
      font-size: 14px;
      position: absolute;
      right: 10px;
      bottom: 10px;
      text-transform: uppercase;
      color: #919191; }
    .articles div.box-1 img.new, .articles div.box-2 img.new, .articles div.box-3 img.new {
      z-index: 10;
      position: absolute;
      right: -3px;
      top: -3px; }

#register-page {
  background: white;
  padding: 20px; }
  #register-page * {
    color: #5e5e5e; }
  #register-page h1 {
    margin-bottom: 10px; }
  #register-page h2 {
    border-bottom: 1px dashed #5e5e5e;
    font-size: 16px;
    padding-bottom: 10px;
    margin-bottom: 20px; }
  #register-page .notification {
    background: #f2f2f2;
    padding: 10px; }
    #register-page .notification a {
      color: #649eb7; }
      #register-page .notification a:hover {
        text-decoration: underline; }
  #register-page .required-fields {
    text-align: right;
    margin-top: 20px;
    margin-bottom: -19px; }
  #register-page form {
    padding-top: 20px; }
    #register-page form > div {
      margin: 10px 0; }
      #register-page form > div label {
        width: 200px;
        display: inline-block; }
      #register-page form > div .errorlist {
        list-style-type: none;
        margin-left: 206px; }
        #register-page form > div .errorlist li {
          color: red;
          font-size: 11px; }
      #register-page form > div div {
        width: 400px;
        display: inline-block; }
        #register-page form > div div input {
          width: 367px;
          padding: 4px;
          border: 1px solid #e2e2e2; }
        #register-page form > div div input[type=checkbox] {
          width: 12px;
          padding: 4px;
          border: 1px solid #e2e2e2; }
        #register-page form > div div .required {
          padding-left: 4px; }
    #register-page form input[type=submit] {
      margin-left: 204px;
      padding: 10px 36px;
      font-size: 16px;
      background-color: #649eb7;
      color: white; }
      #register-page form input[type=submit]:hover {
        background-color: red; }
  #register-page .gradient {
    margin-top: 20px;
    margin-bottom: 8px;
    background: #f2f2f2;
    background: -moz-linear-gradient(top, #f2f2f2 0%, white 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, white));
    background: -webkit-linear-gradient(top, #f2f2f2 0%, white 100%);
    background: -o-linear-gradient(top, #f2f2f2 0%, white 100%);
    background: -ms-linear-gradient(top, #f2f2f2 0%, white 100%);
    background: linear-gradient(to bottom, #f2f2f2 0%, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2',GradientType=0 );
    height: 20px; }

.product-category-list {
  background: white;
  padding: 20px 4px; }
  .product-category-list .product-box {
    margin: 5px;
    float: left;
    width: 344px;
    height: 200px;
    border: 1px solid #d0d0d0;
    position: relative; }
    .product-category-list .product-box h2 {
      position: absolute;
      top: 125px;
      right: 0px; }
      .product-category-list .product-box h2 a {
        padding: 10px 20px;
        font-size: 14px;
        background-color: #e67f36;
        color: white;
        text-transform: uppercase; }
        .product-category-list .product-box h2 a:hover {
          background-color: #bfc73d; }
    .product-category-list .product-box .read-more {
      padding: 5px 20px;
      display: block;
      position: absolute;
      color: white;
      background-color: #649eb7;
      top: 160px;
      right: 0; }
      .product-category-list .product-box .read-more:hover {
        background-color: #bfc73d; }

.subtitle {
  text-align: center;
  font-size: 16px;
  margin: 10px 0; }

.product-category-description {
  background-color: white;
  padding: 26px 16px;
  text-align: center; }

.content-down-arrow {
  position: relative;
  margin-left: 40px;
  z-index: 1000; }

#banners {
  text-align: center; }
  #banners a {
    padding: 2px; }

footer {
  margin-top: 50px; }
  footer * {
    color: white; }
  footer .footer-top {
    background: #74afc8;
    height: 106px; }
    footer .footer-top div {
      font-size: 20px;
      color: white;
      line-height: 106px;
      background: no-repeat left center;
      text-indent: 80px; }
    footer .footer-top div:nth-child(1) {
      background-image: url("../images/delivery.png"); }
    footer .footer-top div:nth-child(2) {
      background-image: url("../images/phone.png"); }
  footer .footer-middle {
    background: #6b9db6;
    height: 280px; }
    footer .footer-middle menu {
      padding-top: 30px; }
      footer .footer-middle menu h2 {
        font-size: 20px;
        color: white;
        font-weight: bold; }
      footer .footer-middle menu nav > a {
        display: block;
        color: white;
        font-size: 14px;
        padding: 6px 0; }
      footer .footer-middle menu nav div {
        margin-top: 16px; }
        footer .footer-middle menu nav div a {
          margin-right: 10px; }
  footer .footer-bottom {
    height: 64px;
    background: #3f3d3d;
    line-height: 62px;
    color: #a6dbef; }
