{% extends "backend.html" %}
{% load simple_tags %}
{% load filters %}

{% block content %}

    {% h1 page_title %}
    {% button_new "Nova cijena poštarina" "admin-shipping-price-form" %}

    <table class="grid">
        {% if rows %}
            <tr>
                {% th "Id" "pk" "3" %}
                {% th "Cijena" "price" "27" "left" %}
                {% th "Težina od" "weight_from" "30" "left" %}
                {% th "Težina do" "weight_to" "30" "left" %}
                {% th "Operacije" None "10" %}
            </tr>
            {% for row in rows %}
                {% url "admin-shipping-price-details" row.pk as details_url %}
                {% url "admin-shipping-price-form" as copy_url %}
                {% url "admin-shipping-price-form" row.pk as edit_url %}
                {% url "admin-shipping-price-delete" row.pk as delete_url %}
                <tr>
                    {% td row.pk "pk" %}
                    {% with price_string=row.price|convert_to_string:"0" %}
                    {% td "<a href="|add:edit_url|add:">"|add:price_string|add:"</a>" "start" "left" %}
                    {% endwith %}
                    {% td row.weight_from "weight_from" "left" %}
                    {% td row.weight_to "weight_to" "left" %}

                    {% with row_pk_string=row.pk|convert_to_string:"0" %}
                    {% with copy="<a href='"|add:copy_url|add:"?shipping_price_id="|add:row_pk_string|add:"' class='copy'></a>" %}
                    {% with view="<a href='"|add:details_url|add:"' class='view'></a>" %}
                    {% with edit="<a href='"|add:edit_url|add:"' class='edit'></a>" %}
                    {% with delete="<a href='"|add:delete_url|add:"' class='delete'></a>" %}
                        {% td copy|add:view|add:edit|add:delete %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                {% td "Nema zapisa" %}
            </tr>
        {% endif %}
    </table>
    {% pager rows %}

{% endblock %}